/* You can add global styles to this file, and also import other style files */

@use 'app/styles/social';
@use 'app/styles/mat-card';
@use 'app/styles/pill';
@use 'app/styles/breakpoints';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar {
  background: #43a047;
  color: white;
  
  .mat-simple-snackbar-action {
    color: white;
  }
}

.error-snackbar {
  background: #d32f2f;
  color: white;
  
  .mat-simple-snackbar-action {
    color: white;
  }
}
