

@use '@angular/material' as mat;

:root {
  @include mat.card-overrides((
    title-text-size: 1.25rem,
    subtitle-text-size: 0.8rem,
  ));
}

// Material Card Component Overrides
.mat-mdc-card {
  margin: 2rem;

  .mat-mdc-card-header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-mdc-card-title{
    text-align: center;
  }
}