<div>
  <ng-container *ngFor="let project of projects">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ (project.repository?.name) || 'Loading...' }}&nbsp;
          <a class="social-link" 
             *ngIf="getGithubUrl(project)" 
             [href]="getGithubUrl(project)" 
             rel="noopener noreferrer" 
             target="_blank">
            <i class="devicon-github-original"></i>
          </a>
        </mat-card-title>
        
        <button mat-icon-button (click)="toggleProject(project)">
          <mat-icon>{{ project.isExpanded ? 'remove' : 'add' }}</mat-icon>
        </button>
      </mat-card-header>

      <mat-card-subtitle>
        <ng-container *ngFor="let lang of getLanguages(project)">
          <span class="project-language-tag" [style.border-color]="getLanguageColor(lang)">{{ lang }}</span>
        </ng-container>
      </mat-card-subtitle>

      <mat-card-content>
        <p></p>

        <div *ngIf="project.isExpanded" [@expandCollapse]>
          <mat-divider></mat-divider>
          
          <div>
            <div>
              <h3>Overview</h3>
              <a class="social-link" 
                 *ngIf="getGithubUrl(project)" 
                 [href]="getGithubUrl(project)" 
                 target="_blank">
                <i class="devicon-github-original"></i>
                <span>View on GitHub</span>
              </a>
            </div>

            <div>
              <h3>Examples</h3>
              <div>
                <button mat-button
                        *ngFor="let gist of project.gists"
                        (click)="loadGist(project, gist.id)">
                  {{ gist.description }}
                </button>
              </div>
            </div>
          </div>

          <ng-container *ngIf="project.selectedGistContent">
            <div *ngFor="let file of project.selectedGistContent">
              <h4>{{ file.filename }}</h4>
              <mat-card>
                <pre><code>{{ file.content }}</code></pre>
              </mat-card>
            </div>
          </ng-container>
        </div>
      </mat-card-content>

      <mat-card-actions>View X</mat-card-actions>
      <mat-card-footer>
    
        <span>
          <mat-icon>update</mat-icon>
          {{ getUpdatedAt(project) }}
        </span>
      </mat-card-footer>
    </mat-card>
  </ng-container>
</div> 