# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
.Python
**/venv/
**/env/
.env
**/.venv
**/ENV/

# IDE
**/.idea/
**/.vscode/
**/*.swp
**/*.swo

# Database
**/*.db
**/*.sqlite3
**/*.sqlite

# Logs
**/*.log
**/logs/

# Distribution / packaging
**/dist/
**/build/
**/*.egg-info/
**/.eggs/

# Unit test / coverage reports
**/htmlcov/
**/.tox/
**/.coverage
**/.coverage.*
**/coverage.xml
**/*.cover
**/.pytest_cache/

# mypy
**/.mypy_cache/

# Jupyter Notebook
**/.ipynb_checkpoints

